{% extends "./base.html" %}
{% block content %}
<h1>Products</h1>
<ul>
    {% for product in object_list %}
    <li>{{ product.name}}
        <a class="btn btn-primary" href="{% url 'core:сustomer-list' product.slug %}" role="button">Клиенты </a>
    </li>
    <li>
        {% if product.count_views %}
            Количество просмотров {{ product.count_views }}.
        {% else %}
            Нет просмотров.
        {% endif %}
    </li>
    {% empty %}
    <li>No products yet.</li>
    {% endfor %}
</ul>

{% endblock %}