{% extends "./base_front.html" %}

{% block content %}
<div x-data="products()" x-init="fetchProducts()" class="app">
    <h4>Список продуктов</h4>
    <ul class="list-group">
        <template x-for="product in products" :key="product.id">
            <li class="list-group-item">
                <span x-text="product.name"></span>
                <a class="btn btn-primary" x-bind:href="product.url_buy" role="button">Купить</a>
                <a class="btn btn-primary" x-bind:href="product.url_detail" role="button">Просмотр</a>
            </li>
        </template>
    </ul>
</div>
{% endblock %}